[package]
name = "fluxion"
version = "0.1.0"
edition = "2021"
authors = ["Umberto Gotti <umberto.gotti@umbertogotti.dev>"]
license = "Apache-2.0"
description = "A reactive stream processing library with ordered semantics, friendly interface, and bullet-proof, state-of-the art test coverage and examples"
repository = "https://github.com/umbgtt10/fluxion"
keywords = ["stream", "reactive", "async", "ordered"]
categories = ["asynchronous", "data-structures"]

[dependencies]
fluxion-core = { workspace = true }
fluxion-stream = { workspace = true }
futures = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }

[dev-dependencies]
fluxion-test-utils = { workspace = true }
tokio = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
